.filtered-video2{
    filter: hue-rotate(170deg); /* Adjust the angle for the desired gold color */
  }
  @media(max-width:768px)
{
    .desktop{
        display: none;
        height: 0;
        width: 0;
    }
}