@media(max-width:768px)
{
    .desktop{
        display: none;
        height: 0;
        width: 0;
    }
}

@media(min-width:768px)
{
    .tablet{
        display: none;
        height: 0;
        width: 0;
    }
}